<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Container Hub</title>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans:700|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1 class="header">Docker Container Quicklinks</h1>
        <div class="main">
            {% for container in collections.containers  %}
                <div class="container">
                    <div class="container__logo">
                        <img class="container__img" src="{{container.data.containerLogo}}"/>
                    </div>
                    <div class="container__content">
                        <h3 class="container__title"> {{container.data.containerTitle}}</h3>
                        <p class="container__description">
                            {{ container.data.containerDescription}}
                        </p>
                    </div>
					<a href="{{container.data.containerLink}}">
						<div class="container__link">
							<img src="icons/chevron.svg" />
						</div>
					</a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>